@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');


* {
    font-family: 'Nunito', sans-serif !important;
    box-sizing: border-box;
    
}

body{
    margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background: #926a55;
}

a {
  text-decoration: none;
}

.header_button {
  line-height: 60px;
  width: 200px;
  height: 60px;
  border: 1px solid #FFF;
  border-radius: 10px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  color: #FFF;  
  text-align: center;
  font-size: 25px;
  transition: 0.4s ease;
}

.header_button:hover {
    
    transition: 0.4s ease;
  background-color: #ff8c00;
  color: #FFF;
  border: 1px solid #ff8c00;
}

header p {
  font-size: 30px;
  float: left;
  margin-top: 0;
  line-height: 100px;
  color: #FFF;
  margin-left: 20px;
}




/*-----------------------------------------------------------------------------*/

.first_page_buttons{

    transition: 0.4s ease;
    color: #FFF;
    background-color: #926a55;
    box-shadow: none;
    width: 10%;
    border: none;
    font-size: 30px;
    border-radius: 15px;
    padding: 1rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;

}

.first_page_buttons:hover{
  transition: 0.4s ease;
  background-color: #ff8c00;
  color: #FFF;
  width: 12%;
}


.heading{
    color: #ff8c00;
    text-align: center;
    font-size: 50px;
}

.button_div{

    text-align: center;
}

.front_page_image{
    object-fit: cover;
    height: 700px;
    width: 90vw;
    border-radius: 100px;
}

.heading2{
    font-size: 30px;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #8a4c00;
}

.image_container{
    width: 98vw;
    margin-bottom: 3rem;
    text-align: center;
    
}

footer{
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 4rem;
    height: 100px;
    width:100%;
    background-color: #926a55;

}

.footer_button{
    line-height: 60px;
    width: 200px;
    height: 60px;
    border: none;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    color: #FFF;  
    text-align: center;
    font-size: 25px;
    transition: 0.4s ease;
}

.footer_button:hover{
    color: #ff8c00;
}

/* last.html */

.last_inputs{
    width: 65%;
    height: 50px;
    margin: 2rem;
    padding: 1rem;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #8a4c00;
    box-shadow: none;
    color: #8a4c00;
}

#form2 label{
    color: #8a4c00;
}

#form2 #subtmit_button_last{

    margin-right: 30%;
    margin-top: 2rem;
    padding: 1rem;
    width: 10vw;
    font-size: 25px;
    border-radius: 15px;
    border: 1px solid #d27e17;
    background-color: #d27e17;
    color: white;
    transition: 0.2s ease;
}
#form2 #subtmit_button_last:hover{
    background-color: #f1a74e;
    border: 1px solid #f1a74e;
    transition: 0.2s ease;
}
#form2 #subtmit_button_last:active{
    
    transition: 0.2s ease;
    border: 1px solid chartreuse;
    color: white;
    background-color: chartreuse;
    
}